.btn--opacity{
    opacity: .75;
}

.margin-carousel .item {
    margin: 15px;
    margin-bottom: 20px;
}

.error{
    color: white;
    &.error-red{
        color: red;
    }
    display: block;
    margin-top: 4px;
}

.form__text-success{
    padding: 4rem;
    text-align: center;
    h3{
        color: white;
        font-size: 2.5rem;
    }
    p{
        color: white !important;
        font-size: 1.5rem;
    }
    
}

.form__text-success-2{
    padding: 4rem;
    text-align: center;
    h3{
        font-size: 2.5rem;
    }
    p{
        font-size: 1.5rem;
    }
}

.w-100{
    width: 100%;
}

.btn-idioma {
    color: #fff;
    margin-left: 10px;
    font-weight: 600;
    display: flex;
    gap: 5px;
    align-items: center;
    height: 38px;
    top: 0; }
    .btn-idioma i {
      font-weight: 600; }
    .btn-idioma img {
      height: 12px; }
      .banner{
        background-color: $color-1;
      }
    
      .section-resultado{
        text-align: center;
        padding-top: 2rem;
        color: $color-1;
        &.no-data{
          padding: 9.5rem 30px;
        }
      }
.dropdown-custom{
    display: inline-block;
    position: relative;
    .btn-circle{
      cursor: pointer;
    }
    &.dropdown-width{
        .dropdown-menu{
        width: 230px;
    }
    }

    
    .dropdown-menu{
        box-shadow: 0px 4px 12px rgb(0 0 0 / 22%);
        &:before {
            content: "";
            position: absolute;
            top: -28px;
            right: 15px;
            width: 0px;
            height: 0px;
            border-right: 15px solid transparent;
            border-top: 15px solid transparent;
            border-left: 15px solid transparent;
            border-bottom: 15px solid #fff;
        }
        position: absolute;
        top: 100%;
        margin-top: 18px;
    }
    &.dropdown-language{
        cursor: pointer;
        .dropdown-menu{
            width: 90px;
        }
    }
    &.dropdown-border{
      .btn-idioma{
      margin:0;

      }
      .dropdown-menu{
        left: 0;
      }
      border: 1px solid rgba(255, 255, 255, 0.22);
      padding: 5px 10px;
      i{
        font-size: 10px;
      }
    }
    .dropdown-menu-right {
        right: 0;
        left: auto;
    }
    .dropdown-item{
        cursor: pointer;
        background: white;
        &:hover{
            background: #f3f3f3;
        }
        display: block;
        font-weight: 500;
        display: flex;
        height: 52px;
        //padding: 0 1.5rem;
        gap: 5px;
        align-items: center;
        justify-content: center;
        color: #0E5983;
    }
    /*.dropdown-item__img{
        margin-left: 5px;
    }*/
}
.slider-proyecto{
  .owl-next, .owl-prev{
    width: 65px !important;
    span{
  display: flex;
  justify-content: center;
  align-items: center;
}
  }
}

@media only screen and (min-width: 720px) {
    .proyectos-entregados{
        .owl-next,.owl-prev{
            border: 0 !important;
        }
    }
}
.proyectos-entregados,.hero-slider{

    .owl-next,.owl-prev{
    display: flex  !important;
    justify-content: center  !important;
    align-items: center  !important;
    span{
        height: auto !important;
    }
    }
}

            section.slider{
                min-height: 100vh;
                background-color: $color_1;
            }

            @media only screen and (max-width: 1025px) {
                section.slider{
                    min-height: 60vh;
                }
            }

            @media only screen and (max-width: 550px) {
                section.slider{
                    min-height: 90vh;
                }
            }

            main{
                &.blog,&.blog--category,&.main_page{
                    .banner{
                        text-align: center;
                    }
                }
            }
            .img-proyec-fachada{
                .fancybox{
                   /* position: absolute;
    top: 50%;*/
                }
            }

            .description--project{
                h1,h2{
                    color: $color_1;
                }
            }
            .content-single-blog{
                iframe{

                    width: 100%;
                    height: 500px;
                    margin-bottom: 10px;
                }
            }

            .ql-align-center{
                text-align: center;
            }

            

            .content-cultura{
                /*.cami__item__icon{
                    width: auto !important;
                }
                .cami__item__image{
                    width: fit-content !important;
                }*/
            }

            .img--width-auto{
                width: auto !important;
            }

            .d-none{
                display: none !important;
            }

            @media only screen and (max-width: 1150px){
.margin-carousel .owl-stage-outer {
    right: 0px;
}
}

.text-underline{
    text-decoration: underline;
}

.projects{
    section.filtro-home{
        background: #0b6fa6;
        position: relative;
        margin-top: 0;
    }
    .banner{
        text-align: center;
    }
}
