.caract-grid{
    .col-width-100{
        grid-column-start: 1;
grid-column-end: 6;
.separator{
    color: #0e5983;
font-weight: bold;
font-size: 20px;
margin: 0 2px;
}
    }
}
.separator-description{
    color: #0e5983;
font-weight: bold;
font-size: 20px;
margin: 0 2px;
}